*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

ul {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 1);
  background-color: #1A1A1A;
  background-attachment: fixed;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.max-width {
  width: 100%;
  max-width: 1100px;
}

.verticalBar {
  height: 5rem;
  width: 2px;
  background-color: white;
  transform: translateY(-50%);
}

footer {
  background-color: #141414;
  padding: 5rem 0;
}

.footer-border {
  height: 1px;
  width: 100%;
  background-color: white;
}

.footer-lists {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin: 3rem 0;
}

.footer-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: .5rem;
}

.footer-lists p,
.footer-list li {
  font-size: 14px;
  font-weight: 400;
}

.footer-list .li-heading {
  font-weight: 600;
  font-size: 16px;
  color: #703BF7;
}

#footer-basis-list {
  flex-basis: 5;
}